<launch>
  <arg name="model" default="" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="multi_robot_name" default=""/>
  <arg name="robot_color" default=""/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml" pass_all_args="true"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(eval 'robot_state_publisher_' + robot_color )">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(eval 'joint_state_publisher_' + robot_color )">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50"/>
  </node>
</launch>
